.register {
	cursor: "pointer";
}

.register:hover {
	cursor: pointer;
	color: "white";
	font-weight: bold;
	background-color: white;
	text-decoration: underline;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
