.form {
	width: 700px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0;
	background-color: #fae6e6;
	opacity: 0.8;
	background-image: linear-gradient(#ff5e62 1px, transparent 1px),
		linear-gradient(to right, #ff5e62 1px, #fae6e6 1px);
	background-size: 20px 20px;
}

.detect {
	color: black;
	background-color: #ff5e62;
	font-weight: bold;
}

.detect:hover {
	color: #ff5e62;
	background-color: black;
}
